.portfoliobody {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #0e0e0e;
      color: #f0f0f0;
    }

    header {
      background-color: #1a1a1a;
      padding: 2rem;
      text-align: center;
    }

    h1 {
      font-size: 2.5rem;
      margin: 0;
    }

    p.subtitle {
      font-size: 1.2rem;
      color: #aaa;
    }
    
    p.subsubtitle {
        font-size: 0.9rem;
        color: #aaa;
    }

    section {
      max-width: 800px;
      margin: 2rem auto;
      padding: 0 1rem;
    }

    .project {
      background-color: #1f1f1f;
      margin-bottom: 1.5rem;
      padding: 1rem;
      border-radius: 10px;
      transition: background-color 0.3s;
    }

    .project:hover {
      background-color: #2c2c2c;
    }

    .project h3 {
      margin-top: 0;
      font-size: 1.5rem;
    }

    .project a {
      color: #61dafb;
      text-decoration: none;
    }

    footer {
      text-align: center;
      padding: 2rem;
      font-size: 0.9rem;
      color: #555;
    }